<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All the Red Bull</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <header>
            <p>All the Red Bull</p>
            <p id="timestamp">{{ ts }}</p>
        </header>
        <main>
            {% for shop, bulls in good_bulls.items() %}
                {% for bull in bulls %}
                    <div class="card">
                        <p class="shop {{ shop }}">{{ shop }}</p>
                        <p class="name">{{ bull.name }}</p>
                        <div class="row">
                            <p class="condition">{{ bull.condition }}</p>
                            <p class="price">
                                <span class="old"><s>{{ bull.oldPrice / 100 }}</s></span>
                                <span class="new"><b>{{ bull.newPrice / 100 }} €</b></span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </main>
        <script>
            let ts = document.getElementById("timestamp").innerText;
            let date = new Date(ts * 1000);
            document.getElementById("timestamp").innerHTML = "last update: " + "<span>" + date.getHours() + ':' + ("0" + date.getMinutes()).substr(-2) + "</span>";
            
            let cards = Array.from(document.getElementsByClassName("card"));
            cards.sort((a, b) => {
                const priceA = Number.parseFloat(a.children[2].children[1].children[1].innerText);
                const priceB = Number.parseFloat(b.children[2].children[1].children[1].innerText);
                if (priceA < priceB) return -1
                else if (priceA > priceB) return 1
                else return 0
            });
            
            let main = document.getElementsByTagName("main")[0];
            main.replaceChildren();
            cards.forEach((e) => main.appendChild(e));
        </script>
    </body>
</html>